{% load staticfiles %}
<html>
<head>
    <title>kostis blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<section id="down">
<div class="page-header">
    {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
    {% endif %}
        <h1><a href="/">Classical Music Reviews</a></h1>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</div>
</section>
<footer>
  <div class="container">
  <p>All content &copy; Konstantinos Dimoudis<br>
     kdimoudis@yahoo.com, konsdimo1@teiser.gr<br>
     T.E.I. of Central Macedonia, M.Sc.</p>
  </div>
</footer>
</body>
</html>