{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                Written on {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <h2>Composed by 
                {% if post.composer %}
                    <a href="{% url 'post_list3' %}?comp={{ post.composer_id }} ">{{ post.composer }}</a>
                {% endif %}
            </h2>
            <h2>Recorded by 
                {% if post.label %}
                    <a href="{% url 'post_list2' %}?lab={{ post.label_id }} ">{{ post.label }}</a>
                {% endif %}
            </h2>
            <p>
                {% if post.image %}
                    <img src="{{ post.image.url }}"/>
                {% endif %}
                {{ post.text|linebreaks }}
            </p>
            <p>
            <h4>Rating 
                {% if post.rating %}
                    {{ post.rating }}
                {% endif %}
            </h4>
                {% if post.website %}
                    <h4>You can purchase the CD at <a href="{{ post.website }}">{{ post.website }}</a></h4> 
                {% endif %}
            <h4>Written by {{ post.author }}
                {% if post.category %}
                     on <a href="{% url 'post_list' %}?cat={{ post.category_id }} ">{{ post.category }}</a>
                {% endif %}
            </h4>
        </div>
    {% endfor %}
{% endblock %}