{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ post.title }}</h1>
        <h2>Composed by 
            {% if post.composer %}
                {{ post.composer }}
            {% endif %}
        </h2>
        <h2>Recorded by 
            {% if post.label %}
                {{ post.label }}
            {% endif %}
        </h2>
        <p>
            {% if post.image %}
                <img src="{{ post.image.url }}"/>
            {% endif %}
            {{ post.text|linebreaks }}
        <h4>Rating 
            {% if post.rating %}
                {{ post.rating }}
            {% endif %}
        </h4>
            {% if post.website %}
                <h4>You can purchase the CD at <a href="{{ post.website }}">{{ post.website }}</a></h4> 
            {% endif %}
        <h4>Written by {{ post.author }}
            {% if post.category %}
                on <a href="{% url 'post_list' %}?cat={{ post.category_id }} ">{{ post.category }}</a>
            {% endif %}
        </h4>    
        </p>
        <p>Written by {{ post.author }}
            {% if post.category %}
                 on {{ post.category }}
            {% endif %}
        </p>
    </div>
{% endblock %}